.lef-form {
    -fx-background-color: #F5C927CC;
}

.text-field:focused {
    -fx-background-color: #fff;
    -fx-border-color: #F5C927CC;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.button {
    -fx-background-color: #F5C927CC;
}

.button:pressed{
    -fx-background-color: #ffe37f;
}